body {
    background: #BEBDB8;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}

table {
	margin: 20px auto;
	border-collapse: collapse;
}

.squares {
	/*border: 1px solid black;*/
	width: 100px;
	height: 100px;
	display: inline-block;
	font-size: 3em;
	line-height: 100px;
}

.left{
	border-right: 1px solid black;
}

.right{
	border-left: 1px solid black;
}

.top{
	border-bottom: 1px solid black;
}

.bottom {
	border-top: 1px solid black;
}

button {
	background: #48494B;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
}